prefix=/Users/freekngdom/Dropbox/Developer/WEBDEV/npm-global
cache=/Users/freekngdom/Dropbox/Developer/WEBDEV/npm-global/.npm
init-module=/Users/freekngdom/Dropbox/Developer/WEBDEV/npm-global/.npm-init.js
